$primary-color: #108db8;
$primary-color-hover: #0d6b8a;
$primary-color-text: #333;
$primary-color-text-less-intense: #666;
$primary-color-text-more-intense: #000;
$header-font-family: 'Black Ops One',
cursive;
$title-font-family: 'Raleway',
sans-serif;
$text-font-family: 'Montserrat',
sans-serif;
$sans-serif-font: "HelveticaNeue-Light",
"Helvetica Neue Light",
"Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Montserrat|Raleway');