$header-font-family: 'Black Ops One',
cursive;
$title-font-family: 'Raleway',
sans-serif;
$text-font-family: 'Montserrat',
sans-serif;
$sans-serif-font: "HelveticaNeue-Light",
"Helvetica Neue Light",
"Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Montserrat|Raleway');