header {
    * {
        color: $primary-color-text-more-intense;
    }

    div * {
        color: $primary-color-text-more-intense;
    }

    .header-row {
        display: flex;
        align-items: center;

        .title-row {
            padding-left: 2rem;

            .logo-title {
                padding-top: 2rem;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                h1 {
                    margin-bottom: 0;
                    font-family: $header-font-family;
                }
            }
        }
    }

    .logo {
        max-width: 216px;
    }
}