$primary-color: #108db8;
$primary-color-hover: #0d6b8a;
$primary-color-text: #333;
$primary-color-text-less-intense: #666;
$primary-color-text-more-intense: #000;
$header-font-family: 'Black Ops One',
cursive;
$title-font-family: 'Raleway',
sans-serif;
$text-font-family: 'Montserrat',
sans-serif;
$sans-serif-font: "HelveticaNeue-Light",
"Helvetica Neue Light",
"Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Montserrat|Raleway');

* {
  color: $primary-color-text;
  font-family: $text-font-family;
}

.index-content th {
  font-weight: normal;
  font-family: $title-font-family;
}

.index-content .date-col {
  color: $primary-color-text-less-intense;
  font-family: $title-font-family;
}

.uppercase {
  text-transform: uppercase;
  font-weight: normal;
}

header * {
  color: $primary-color-text-more-intense;
}

header div * {
  color: $primary-color-text-more-intense;
  font-family: $header-font-family;
}

body {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a,
button.link {
  text-decoration: none;
  color: $primary-color;
  -webkit-transition: color 0.1s cubic-bezier(0.5, 0, 0.75, 0.75);
  -moz-transition: color 0.1s cubic-bezier(0.5, 0, 0.75, 0.75);
  -ms-transition: color 0.1s cubic-bezier(0.5, 0, 0.75, 0.75);
  -o-transition: color 0.1s cubic-bezier(0.5, 0, 0.75, 0.75);
}

a:hover,
button.link:hover {
  color: $primary-color-hover
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: $primary-color;

  a {
    color: white;
    padding: 1rem;
    display: inline-block;
  }
}

.index-content {
  max-width: 800px;
  margin: 0 auto 0 auto;
}

.date-head {
  text-align: left;
  padding-left: 1em;
}

.date-col {
  padding-left: 2em;
}

.date-col+td {
  padding-left: 1em;
}

.link {
  outline-color: transparent;
  align-items: normal;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  color: rgb(0, 0, 238);
  cursor: pointer;
  display: inline;
  font: inherit;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  text-decoration: underline;
  transform-origin: 0 0;
  -moz-appearance: none;
  -webkit-logical-height: 1em;
  -webkit-logical-width: auto;
}

@supports (-moz-appearance: none) {
  .link::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  .link:focus {
    outline-style: dotted;
    outline-width: 1px;
  }
}


.logo {
  max-width: 216px;
}

header,
main {
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  padding-top: 2rem;
}

main {
  padding-bottom: 2rem;
}


.logo-title {
  padding-top: 2rem;
}

.header-row {
  display: flex;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.langs,
.tag-cloud,
nav {
  display: none;
}

html,
body,
#root,
.page-content {
  height: 100%;
}

#root>div {
  width: 100%;
}

#root {
  display: flex;
  align-items: center;
}